.task-container{
    width: 500px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px  #046f95;
    position: relative;
    background-color: white;


}
.task-title{
    margin: 2px;
}

.task-description{
   margin: 5px;
   color: white;
}
.task-priority{
       position: absolute;
       right: 0;
       top: 0;
       background-color: #046f95;
       color: white;
       border-radius: 0 10px 0 0;
       padding: 2px;
       width:100px ;
       font-size: 20px;
}
.task-delete-icon{
    position: absolute;
    bottom: 7px;
    right:60px;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #046f95; 
}
.task-edit-icon{
    position: absolute;
    bottom: 7px;
    right:5px;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #046f95; 
   

}
