.task-container{
    width: 500px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px  blue;
    position: relative;
    background-color: rgb(224, 225, 244);


}
.task-title{
    margin: 2px;
}

.task-description{
   margin: 5px;
   color: white;
}
.task-priority{
       position: absolute;
       right: 0;
       top: 0;
       background-color: #f9371e;
       color: white;
       border-radius: 0 10px 0 0;
       padding: 2px;
       width:100px ;
}
.task-delete-icon{
    position: absolute;
    bottom: 5px;
    right:50px;
    cursor: pointer;
    background-color: rgb(68, 19, 19);
}
.task-edit-icon{
    position: absolute;
    bottom: 5px;
    right:5px;
    cursor: pointer;
    background-color: rgb(68, 19, 19);

}
